<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553651316846-opcbnr1n917lqq527is6056s9kk8sdb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553651316846-opcbnr1n917lqq527is6056s9kk8sdb8</string>
	<key>API_KEY</key>
	<string>AIzaSyC0nvEJFHFiNA58UrdGeUzJsAWJSo1awz4</string>
	<key>GCM_SENDER_ID</key>
	<string>553651316846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>i14.covid-19</string>
	<key>PROJECT_ID</key>
	<string>covid-19-a6cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-19-a6cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553651316846:ios:cdc8dd3a541133f02cde7f</string>
</dict>
</plist>